body {
  margin-top: 0px;
}

small {
  font-size: 65%;
}

a {
  color: #428bca;
  text-decoration: none;
}

li ~ li {
  margin-top: 1rem;
}

#top {
  font: 40px sans-serif;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 360px)) 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-gap: 12px;
}

.subGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content;
  grid-gap: 8px;
  grid-row-start: 3;
}

#title {
  font-size: 25px;
  margin-bottom: 10px;
  grid-column: 1/4;
  font-weight: 500;
  line-height: 1.1;
}

#blurbText {
  font-size: initial;
  grid-column: 4;
  grid-row: 1/5;
  transition: opacity 0.2s, visibility 0.2s;
}

#output {
  grid-template-rows: min-content;
}

.gridLabel {
  font: 20px sans-serif;
  margin-left: 15px;
}

.numberDisplay {
  font: inherit;
  text-align: center;
  line-height: 77px;
  border: 1px solid lightgray;
  border-radius: 10px;
  grid-column-start: 1;
  grid-column-end: span 4;
  /* Needed so that the input width is correctly set in Firefox. It would
   * badly overflow otherwise.
   * See: https://stackoverflow.com/questions/43314921/strange-input-widths-in-firefox-vs-chrome*/
  min-width: 0;
}

.scope {
  border: 1px solid lightgray;
  border-radius: 10px;
  grid-column-start: 1;
  grid-column-end: span 4;
  align-self: stretch;
  justify-self: stretch;
}

.button {
  font: inherit;
  color: white;
  border-radius: 30px;
  text-align: center;
  line-height: 77px;
  cursor: pointer;
}

.button:focus:not(:focus-visible) {
  outline: none;
}

.digit {
  background: royalblue;
}

.letter {
  background: palevioletred;
}

.symbol {
  background: gray;
}

.control {
  grid-row-start: 6;
  transition: opacity 0.2s, visibility 0.2s;
}

#play {
  background: lightgreen
    url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z" fill="white" /></svg>')
    no-repeat center center;
  background-size: 40%;
  grid-column-start: 2;
}

#Backspace {
  background: white;
  color: lightgray;
  grid-column-start: 3;
  font-size: 35px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
